.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100vh + 200px);
  overflow-y: auto;
  padding: 10px 15px;
  gap: 10px;

  @media (max-width: 486px) {
    gap: 5px;
  }

  @media (max-width: 437px) {
    gap: 15px;
  }

  .card {
    margin-top: 45px;
    width: 320px;
    max-width: 320px;

    @media (max-width: 1000px) {
      .good-name {
        font-size: 16px;
      }

      .brand-name {
        font-size: 14px;
      }

      .price {
        width: 72px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
      }

      .shopping-bag {
        width: 35px;
        height: 35px;

        img {
          height: 100%;
        }
      }
    }

    @media (max-width: 686px) {
      width: 45%;

      .card-description {
        gap: 3px;
        left: 10px;

        .good-name {
          font-size: 16px;

          @media (max-width: 437px) {
            font-size: 14px;
          }
        }
      }

      .card-bottom {
        justify-content: space-between;
      }

      .brand-name {
        font-size: 13px;
      }
    }

    @media (max-width: 542px) {
      .prod-img {
        top: -32%;
        height: 96%;
      }

      .card-description {
        width: 100%;
        gap: 5px;

        .good-name {
          line-height: 18px;
        }

        .stars-wrapper * {
          font-size: 14px;
          height: 14px;
        }
      }
    }

    @media (max-width: 437px) {
      width: 90%;
    }
  }
}
