
.logo {
    background-color: #1E1E1E;
    width: 100%;    
    display: flex;
    align-items: center;
   justify-content: end;
    padding: 20px 50px 20px;
    border-radius: 0px 7px 7px 0px;

    @media (max-width: 1300px) {
        padding: 20px ;
    }

    @media (max-width: 1000px) {
        justify-content: flex-start;
        border-radius: 5px 5px 0px 0px;
    }
}

.logo-text {    
    position: relative; 
    font-family: 'Inter';
    font-weight: 500;
    font-size: calc(36px + (60 - 36) * ((100vw - 320px) / 1400));
    color: #fff;
    z-index: 5;
}

.logo-img {
    position: absolute;
    width: calc(50px + (86 - 50) * ((100vw - 320px) / 1400));
    top: -5%;
    right: -8px;
    animation: logoMove 2s ease-in-out;
}

@keyframes logoMove {
    0% {
        right: 100px;
        top: -25%;
    }
    20% {
        right: 80px;
        top: 38%;
    }
    40% {
        right: 60px;
        top: -25%;
    }
    60% {
        right: 40px;
        top: 38%;
    }
    80% {
        right: 20px;
        top: -25%;
    }
    90% {
        right: 2px;
        top: 38%;
    }
    100% {
        right: -8px;
        top: -5%;
    }
}