.content {
  margin: 0 auto;
  max-width: 1800px;
  overflow: hidden;
  background-color: #fff;  
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.loader {
  margin: 100px auto;
}

.content-wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f6f6f6;  
  min-height: 100vh;
  padding: 0px;
  width: 100%;
  position: relative;
  
  @media (max-width: 1000px) {
      padding: 0px;
  }
}