.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(217, 217, 217, 0.5);
    width: 70%;
    min-height: 100vh;
    padding: 0px;
    
    @media (max-width: 1000px) {
        width: 100%;
        padding: 0px;
    }
}

.no-scroll {
    overflow-y: hidden;
}