.cart-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;

  figure {
    width: 70px;
    height: 65px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-name {
    font-family: var(--font-family-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.9);
    width: 35%;

    @media (max-width: 460px) {
      width: 40%;
    }
  }

  .quantity-wrapper {
    width: fit-content;
    text-align: center;
    position: relative;

    p {
      position: absolute;
      top: -20px;
      left: -38px;
      color: rgb(231, 62, 0);
      font-size: 12px;
      line-height: 16px;
      padding: 3px;
      border-radius: 4px;
      z-index: 10;
      width: fit-content;
      text-wrap: nowrap;
    }

    input {
      width: 30px;
      height: 26px;
      border-radius: 6px;
      outline: none;
      user-select: none;
      border: none;
      text-align: center;
      margin: 0 5px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    button {
      font-size: 18px;
      width: 18px;
    }
  }

  .product-price {
    font-weight: 400;
    color: rgb(2, 70, 2);

    @media (max-width: 460px) {
      padding-left: 15px;
      width: 40%;
    }
  }

  .delete {
    width: 42px;
    height: 42px;
    border-radius: 11px;
    border: 1px solid #ebe8e8;
    background-color: #ebe8e8;
    transition: all 0.3s;

    @media (max-width: 1000px) {
      width: 32px;
      height: 32px;
    }

    &:hover {
      border: 1px solid rgba(94, 94, 94, 0.507);
    }

    img {
      height: 22px;
    }
  }
}
