.nav-wrapper {
  background-color: #fff;
  padding: 0px  0px 15px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;

  @media (max-width: 1200px) {
    padding: 0px;
  }
}

.shopping-bag-container {
  position: relative;

  .item-count {
    position: absolute;
    top: -15px;
    right: -14px;
    background-color: rgba(189, 95, 1, 0.856);
    color: rgb(253, 253, 253);
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
  }
}

.nav {
  padding: 0px;  
  height: max-content;
  font-family: var(--font-family-abel);
  flex-grow: 1;

  @media (max-width: 1200px) {
    margin: 0;
  }

  .logo-mobile-container {  
    display: flex;
    background-color: #1e1e1e;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 15px;

    .logo {
      width: fit-content;
      padding: 0px;
    }

    .logo-text {
      font-size: calc(30px + (40 - 30) * ((100vw - 320px) / 1400));
      line-height: inherit;
      color: #fff;
      z-index: 5;
    }

    .logo-img {
      position: absolute;
      width: calc(40px + (55 - 40) * ((100vw - 320px) / 1400));
      top: 0;
      right: -3px;
    }

    .input-box {
      width: 40%;   
      height: 40px;
      margin: 0 auto;     
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
   
      .input-box {      
        width: 100%;
        margin: 15px 0px 0px;
      }
     }
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 11px;
    margin: 20px 20px 0px;
    padding: 20px;
    gap: 30px;

    @media (max-width: 1400px) {
      gap: inherit;
    }

    @media (max-width: 1000px) {     
      margin: 10px 0px;
      padding: 15px;

    }
  }

  .button-home {
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    background: rgba(199, 255, 231, 0.32);
    border-radius: 11px;
    padding: 5px 30px;
    font-family: var(--font-family-abel);
    font-size: calc(18px + (30 - 18) * ((100vw - 360px) / 1400));
    color: #000;
    transition: all 0.3s;

    @media (max-width: 1400px) {
      padding: 5px 20px;
      font-size: calc(16px + (28 - 16) * ((100vw - 360px) / 1400));
    }

    &:hover {
      background: #1e1e1e;
      color: #f6f6f6;
    }
  }

  .vertical-line {
    display: block;
    width: 2px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.25);

    @media (max-width: 1000px) {
      height: 26px;
      margin: 0 2px;
    }
  }

  .new-items {
    display: block;
    font-size: calc(16px + (30 - 16) * ((100vw - 360px) / 1400));
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .bell,
  .shopping-bag,
  .log-in {
    transition: all 0.3s;
    filter: invert(0%) sepia(94%) saturate(100%) hue-rotate(274deg)
      brightness(0%) contrast(90%);

    &:hover {
      cursor: pointer;
      filter: invert(0%) sepia(94%) saturate(7489%) hue-rotate(274deg)
        brightness(102%) contrast(40%);
    }
  }

  .shopping-bag,
  .log-in,
  .bell {
    height: 32px;

    @media (max-width: 1400px) {
      height: 25px;
    }

    @media (max-width: 600px) {
      height: 20px;
    }
  }
}
