button.nav-mob-btn {
  --time: 0.2s;
  --width: 30px;
  --height: 14px;
  --line-height: 1px;
  --radius: 4px;
  position: relative;
  position: absolute;
 top: 35px; 
  right: 75px;
  height: var(--height);
  width: var(--width);
  color: rgb(241, 236, 236);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: all;
  z-index: 50;
  display: none;

  @media (max-width: 1000px) {
    display: flex;
  }

  .filter-mobile {
    position: absolute;
    right: -45px;
    font-size: 16px;
  }

}

.burger-line {
  height: 2px;
  width: 90%;
  border-radius: var(--radius);
  background-color: rgb(241, 236, 236);
  transition: transform 0.3s, opacity 0.2s, background-color 0.3s;
  margin: 0 auto;
}

.burger-line:nth-child(2) {
  width: 60%;
  margin: 0 auto;
}

.burger-line:nth-child(3) {
  width: 30%;
  margin: 0 auto;
}

.nav-mob-btn.active div:nth-child(1) {
  transform: rotate(45deg) translate(0px, 9px);
  width: 70%;
}

.nav-mob-btn.active div:nth-child(2) {
  opacity: 0;
}

.nav-mob-btn.active div:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -20px);
  width: 70%;
}

.nav-mob-btn.active {
  height: 30px;
  right: 70px;

  .filter-mobile {   
    right: -40px;
    
  }
}

.mob-nav-wrapper {
  opacity: 0;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%; 
  background: rgba(147, 148, 148, 0.9);
  pointer-events: none;
  transition: all 0.4s ease-in;
  min-height:calc(100vh) ;
  display: none;
}

.mob-nav-wrapper-open {
  opacity: 1;
  display: block;
  pointer-events: all;
}

.mob-nav {
  position: relative;
  margin: 0 0 0 auto;
  top: 0;
  right: 0; 
  width: 440px;
  padding: 60px 30px;
  background-color: rgba(30, 30, 30);
  align-items: center;
  pointer-events: all;
  overflow: hidden;
  min-height: 100vh;
  z-index: 100;
  transform: translate(100%, 0);
  transition: transform 0.3s ease-in;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.mob-nav-active {
  transform: unset;
}

.mob-nav-list {
  font-weight: 600;
  font-size: 18px;

  li {
    border-bottom: 1px solid rgba(252, 248, 248, 0.2);
  }

  a {
    display: block;
    padding: 20px 0;
    color: #e6f0ef;
    transition: all 0.2s ease-in;

    @media (max-width: 767px) {
      padding: 15px 0;
      font-size: 16px;
    }

    @media (min-width: 600px) {
      &:hover {
        padding-left: 16px;
      }
    }
  }
}

.mob-socials {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: 0 auto;

  img {
    height: 20px;
    width: auto;
    transition: 0.3s;
    opacity: 1;
  }

  a:hover img {
    animation: jumpingImg 0.6s ease-in-out;
    opacity: 0.6;
  }
}
