.offers {
  padding: 20px 44px 15px 54px;
  background-color: #fff;

  @media (max-width: 1400px) {
    padding: 20px 30px 15px;
  }

  @media (max-width: 1000px) {
    padding: 20px 20px 10px;
  }

  .offers-header {
    font-family: var(--font-family-abel);
    font-size: calc(18px + (48 - 18) * ((100vw - 360px) / 1400));
    display: flex;
    gap: 12px;
    align-items: center;

    @media (max-width: 1400px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
    }
  }

  .flower-wrapper {
    position: relative;
    height: 40px;

    @media (max-width: 1400px) {
      padding-top: 8px;
      img {
        height: 26px;
      }
    }

    .mark {
      position: absolute;
      height: 9px;
      z-index: 5;
      top: 31%;
      left: 31%;

      @media (max-width: 1400px) {
        height: 7px;
        top: 42%;
      }
    }
  }
}
